<!DOCTYPE html>
<html lang="pt-BR">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <script src="script.js" defer></script>
   <link rel="stylesheet" href="style.css">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>LANDPAGE GAME PPT</title>
</head>

<body>

   <div id="header">
      <h3 id="desafie">LANDPAGE GAME PPT</h3>
      <h1>Pedra, Papel, Tesoura</h1>
   </div>
   <div id="download">
      <form action="/upload" method="post" enctype="multipart/form-data">
         <label for="file-upload">Selecione o arquivo:</label>
         <input type="file" id="file-upload" name="file" accept=".pdf,.jpg,.png" />
         <button type="submit">Upload do Arquivo</button>
     </form>
   </div>

</body>

</html>